# Editors
.idea/
.vscode/

# Build artifacts
web/dist/*
!web/dist/static.go
node_modules/
junit.xml
coverage.out
keydrive
*.css
*.tsbuildinfo

# Test artifacts
coverage/
eslint-report.json

# Logs
*.log
npm-debug.log*

# Misc
.DS_Store
