.users-page {
  .headers {
    font-weight: 600;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--gray-4);
    margin-bottom: 6px;

    > div {
      display: inline-block;
      width: 320px;

      &.icon {
        width: 32px;
      }
    }
  }

  .users-list {
    .user {
      border-radius: $border-radius;
      padding: 2px;

      &:nth-child(2n) {
        background-color: var(--gray-5);
      }

      > div {
        display: inline-block;
        width: 320px;

        &.icon {
          width: 32px;
          text-align: center;
        }
      }
    }
  }
}
