.field {
  width: 100%;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &.field-error {
    input:not(:focus) {
      border-color: var(--red);
      box-shadow: 0 0 2px var(--red);
    }
  }

  &.has-icon-button {
    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
    }

    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-color: var(--field-border);

      padding: 0;
      // We set both width and flex, otherwise the content jumps slightly when toggling the button.
      width: $input-height;
      flex: 0 0 $input-height;
    }
  }

  label {
    width: 100px;
    text-align: right;
    flex-shrink: 0;
  }

  input {
    background-color: var(--field-background);
    color: var(--field-foreground);
    outline: none;
    border: 1px solid var(--field-border);
    border-radius: $border-radius;
    font-size: 1rem;
    width: 100%;
    height: $input-height;
    padding: 0 8px;
    transition: border-color $transition-duration;

    &:not(:first-child) {
      margin-left: 12px;
    }

    &:focus {
      border-color: var(--primary);
      box-shadow: 0 0 2px var(--primary);
    }
  }
}
