.password-input {
  display: flex;

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }

  .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: var(--field-border);

    padding: 0;
    flex: 0 0 $input-height;
  }
}
