// Apple colors:
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/color

:root {
  --blue: rgb(99, 209, 255);
  --red: rgb(255, 59, 48);
  --yellow: rgb(255, 188, 46);

  --black: rgb(0, 0, 0);
  --void-gray: rgb(19, 20, 21);
  --deep-gray: rgb(35, 36, 43);
  --dark-gray: rgb(70, 71, 74);
  --light-gray: rgb(150, 151, 154);

  --off-white: rgb(246, 246, 246);
  --white-smoke: rgb(250, 250, 250);
  --white: rgb(255, 255, 255);

  --primary: var(--blue);
  --primary-inverted: var(--white);
  --primary-darkened: rgb(60, 158, 199);
  // Light gray 20%
  --zebra-highlight: rgba(150, 151, 154, 0.2);
  // Primary 20%
  --primary-highlight: rgba(99, 209, 255, 0.2);

  @mixin light-theme {
    --background: var(--white-smoke);
    --foreground: var(--black);
    --side-bar-color: var(--off-white);
    --top-bar-color: var(--white);
    --panel-color: var(--white);
  }

  @mixin dark-theme {
    --background: var(--void-gray);
    --foreground: var(--white);
    --side-bar-color: var(--dark-gray);
    --top-bar-color: var(--deep-gray);
    --panel-color: var(--deep-gray);
  }

  // we default to light theme
  @media (prefers-color-scheme: no-preference) {
    @include light-theme;
  }

  @media (prefers-color-scheme: light) {
    @include light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }

  // allows theme overrides through class names
  .light-theme {
    @include light-theme;
  }

  .dark-theme {
    @include dark-theme;
  }
}

body {
  background-color: var(--background);
}
