// Standards for all input elements (including buttons).
$input-height: 32px;
$border-radius: 4px;

// Global variables.
$transition-duration: 0.2s;
$top-bar-height: 64px;

@import 'colors';
@import 'reset';
@import 'mixins';
@import 'typography';

// Fonts and icons.
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Component styles.
#root {
  @import 'table';
  @import '../components/input/Field';
  @import '../components/input/Form';
  @import '../components/input/PasswordInput';
  @import '../components/Button';
  @import '../components/Columns';
  @import '../components/Layout';
  @import '../components/Modal';
  @import '../components/Panel';
  @import '../pages/settings/SettingsPage';
  @import '../pages/settings/UsersPage';
  @import '../pages/LoginPage';
}

.error-message {
  color: var(--red);
}

.app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
