// Standards for all input elements (including buttons).
$input-height: 32px;
$input-border-radius: 4px;

// Global variables.
$transition-duration: 0.2s;

@import 'colors';
@import 'reset';
@import 'mixins';

// Fonts and icons.
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Component styles.
#root {
  @import '../components/input/PasswordInput';
  @import '../components/layout/SettingsLayout';
  @import '../components/Button';
  @import '../components/Columns';
  @import '../components/ProfileMenu';
  @import '../pages/settings/NewUserPage';
  @import '../pages/settings/ProfilePage';
  @import '../pages/settings/UsersPage';
  @import '../pages/LibrariesPage';
  @import '../pages/LoginPage';
}

.error {
  color: var(--red);
}
