* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--foreground);
}

body {
  font-family: 'Roboto', sans-serif;
}

#root {
  width: 100vw;
  min-height: 100vh;
}

input {
  padding: 0 8px;
  border: 1px inset var(--gray-4);
  height: $input-height;
  border-radius: $border-radius;
  font-size: 1rem;
  outline: none;
  width: 100%;
  background-color: var(--input-bg);

  &:focus {
    padding: 0 7px;
    border: 2px inset var(--blue);
  }
}

a {
  text-decoration: none;
}
