table {
  width: 100%;
  border-collapse: collapse;

  td,
  th {
    padding: 2px 6px;
  }

  tr {
    height: $input-height;
  }

  thead {
    border-bottom: 1px solid var(--gray-4);

    th {
      font-weight: 600;
      text-align: left;
    }
  }

  tbody {
    tr {
      outline: none;

      &:nth-child(2n) {
        td {
          background-color: var(--gray-5);
        }
      }

      td {
        transition: background-color $transition-duration;

        &:first-child {
          border-top-left-radius: $border-radius;
          border-bottom-left-radius: $border-radius;
        }

        &:last-child {
          border-top-right-radius: $border-radius;
          border-bottom-right-radius: $border-radius;
        }
      }
    }
  }

  &.clickable {
    tbody {
      tr {
        cursor: pointer;

        &:hover,
        &:focus {
          td {
            background-color: var(--gray-4);
          }
        }
      }
    }
  }
}
