.files-page {
  .top-bar {
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }

    .parent-dir {
      margin: 0 12px;
    }

    .actions {
      > :not(:last-child) {
        margin-right: 12px;
      }

      > .button .icon {
        margin-right: 6px;
      }
    }
  }

  main {
    display: flex;

    .files {
      flex: 1 1 auto;
      margin-left: 12px;
      overflow-y: auto;

      .icon {
        color: var(--primary);
      }

      table {
        user-select: none;

        colgroup {
          .modified {
            width: 300px;
          }

          .size,
          .category {
            width: 120px;
          }
        }
      }
    }

    .details {
      flex: 0 1 360px;
      margin-left: 12px;
      padding: 12px;

      .preview {
        margin: 12px;
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          font-size: 160px;
          color: var(--primary);
        }
      }

      .name {
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 6px;
      }

      .category {
        margin-bottom: 24px;
        color: var(--light-gray);
      }

      .columns {
        > div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 6px;

          :first-child {
            color: var(--light-gray);
          }
        }
      }
    }
  }
}
