.files-page {
  .top-bar {
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;
    }

    .parent-dir {
      margin: 0 12px;
    }
  }

  main {
    display: flex;

    .files {
      flex: 1 1 auto;
      margin-left: 12px;
      overflow-y: auto;
      position: relative;

      .icon {
        color: var(--primary);
      }

      table {
        colgroup {
          .modified {
            width: 300px;
          }

          .size,
          .category {
            width: 120px;
          }
        }

        .modified {
          @include screen-lt-x-large {
            display: none;
          }
        }

        .category {
          @include screen-lt-large {
            display: none;
          }
        }
      }
    }
  }
}
