.libraries-page {
  display: flex;

  .sidebar {
    height: 100vh;
    flex: 0 0 240px;
    background-color: var(--gray-4);
    padding: 12px;
    overflow-y: auto;

    h1 {
      margin-bottom: 12px;
    }

    .library {
      font-weight: 600;
      margin-bottom: 12px;

      .icon {
        margin-right: 8px;
        color: var(--blue);
      }
    }
  }

  .files-wrapper {
    flex: 1 1 auto;

    .top-bar {
      height: 48px;
      background-color: var(--gray-5);
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
