.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;

    .title {
      margin-bottom: 24px;
    }

    button[type='submit'] {
      width: 100%;
    }

    .error {
      margin-top: 8px;
      min-height: 64px;
    }
  }
}
