.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .login-box {
    text-align: center;
    width: 280px;

    .title {
      margin-bottom: 24px;
    }

    button[type='submit'] {
      width: 100%;
    }

    .error-message {
      min-height: 64px;
    }
  }
}
