.drop-zone {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;

  border: 4px dashed var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);

  .icon {
    font-size: 160px;
    margin-bottom: 60px;
  }

  .text {
    font-size: 32px;
  }

  * {
    // This is necessary to prevent any child elements from handling drag events.
    pointer-events: none;
  }
}
