.button {
  padding: 0 18px;
  border: none;
  height: $input-height;
  border-radius: $input-border-radius;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color $transition-duration;
  background-color: var(--gray-4);

  &:not(:disabled):not(.loading) {
    @include clickable(var(--gray-3), var(--gray-2));
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gray-6);
  }

  &.loading {
    cursor: progress;

    > .content {
      visibility: hidden;
    }

    > .loader {
      position: absolute;
    }
  }

  &.square {
    padding: 0;
    width: $input-height;
    flex: 0 0 $input-height;
  }
}
