.button {
  padding: 0 18px;
  height: $input-height;
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;

  transition-property: background-color, border-color;
  transition-duration: $transition-duration;

  &:disabled {
    cursor: not-allowed;
    background-color: var(--gray-6);
  }

  &.loading {
    cursor: progress;

    > .content {
      visibility: hidden;
    }

    > i.loader {
      position: absolute;
      margin: 0;
    }
  }

  // styles
  // default: basic
  background: none;
  border: 1px solid var(--light-gray);

  &:not(:disabled):not(.loading) {
    @include clickable(var(--gray-3), var(--gray-2));
  }

  // primary
  &.primary {
    background-color: var(--primary);
    border: 1px solid var(--primary);

    &:not(:disabled):not(.loading) {
      @include clickable(var(--primary-darkened), var(--primary));
    }

    .content {
      color: var(--primary-inverted);
    }
  }
}
