.icon-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 24px;

  .icon {
    transition: color $transition-duration;
    color: var(--light-gray);
  }

  &:hover .icon {
    color: var(--foreground);
  }
}
