.layout {
  display: flex;
  height: 100%;

  .sidebar {
    flex: 0 0 220px;
    height: 100vh;
    background-color: var(--side-bar-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;

    .logo {
      height: $top-bar-height;
      display: flex;
      padding: 12px;
      align-items: center;
      background-color: var(--top-bar-color);
      margin-bottom: 12px;
      border-bottom: 2px solid var(--background);
    }

    .libraries {
      flex-grow: 1;

      .loader {
        text-align: center;
      }
    }

    .entry {
      font-weight: 600;
      display: block;
      padding: 6px;
      border-radius: $border-radius;
      margin: 0 12px;

      @include clickable(var(--gray-3), var(--gray-2));

      .icon {
        margin-right: 8px;
        color: var(--primary);
        width: 24px;
        text-align: center;
      }
    }
  }

  .content-wrapper {
    flex: 1 1 auto;

    .top-bar {
      height: $top-bar-height;
      background-color: var(--top-bar-color);
      display: flex;
      align-items: center;
      padding: 0 12px;
      border-bottom: 2px solid var(--background);
    }

    main {
      padding: 12px;
    }
  }
}
