.layout {
  display: flex;
  height: 100%;

  .sidebar {
    flex: 0 0 220px;
    height: 100vh;
    background-color: var(--side-bar-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;

    @include screen-lt-medium {
      display: none;
    }

    .logo {
      height: $top-bar-height;
      display: flex;
      padding: 12px;
      align-items: center;
      background-color: var(--top-bar-color);
      margin-bottom: 12px;
      border-bottom: 2px solid var(--background);

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    .libraries {
      flex-grow: 1;

      .loader {
        text-align: center;
      }
    }

    .entry {
      display: block;
      padding: 6px 12px;
      border-right: transparent solid 4px;

      .icon {
        margin-right: 8px;
        color: var(--primary);
        width: 24px;
        text-align: center;
      }

      &.active {
        border-color: var(--primary);
        font-weight: 700;
      }
    }
  }

  .content-wrapper {
    flex: 1 1 auto;
    height: 100vh;

    .top-bar {
      height: $top-bar-height;
      background-color: var(--top-bar-color);
      display: flex;
      align-items: center;
      padding: 0 12px;
      border-bottom: 2px solid var(--background);

      .spacer {
        flex: 1;
      }

      .toggle-sidebar {
        @include screen-gt-medium {
          display: none;
        }
      }
    }

    main {
      height: calc(100% - #{$top-bar-height});
      overflow-y: auto;
    }
  }
}
