.layout {
  display: flex;
  height: 100%;
  position: relative;

  @include screen-max-medium {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  &.sidebar-hidden {
    .content-wrapper {
      .top-bar {
        .show-sidebar {
          display: initial;
        }
      }
    }
  }

  .sidebar {
    flex: 0 0 220px;
    height: 100vh;
    background-color: var(--side-bar-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    scroll-snap-align: start;

    &.hidden {
      flex-basis: 0;
    }

    @include screen-max-medium {
      flex: 0 0 100vw;
    }

    .top {
      height: $top-bar-height;
      display: flex;
      padding: 0 12px;
      align-items: center;
      justify-content: space-between;
      background-color: var(--top-bar-color);
      margin-bottom: 12px;
      border-bottom: 2px solid var(--background);

      .logo {
        flex: auto;
        display: flex;
        align-items: center;
        height: 100%;

        img {
          flex: auto;
          width: 100%;
          height: 100%;
        }
      }
    }

    .libraries {
      flex-grow: 1;

      .loader {
        text-align: center;
      }
    }

    .entry {
      display: block;
      padding: 6px 12px;
      border-right: transparent solid 4px;

      .icon {
        margin-right: 8px;
        color: var(--primary);
        width: 24px;
        text-align: center;
      }

      &.active {
        border-color: var(--primary);
        font-weight: 700;
      }
    }
  }

  .content-wrapper {
    flex: 1 1 auto;
    height: 100vh;
    position: relative;

    &::after {
      display: block;
      content: '';
      position: absolute;
      right: 0;
      scroll-snap-align: end;
    }

    .top-bar {
      height: $top-bar-height;
      background-color: var(--top-bar-color);
      display: flex;
      align-items: center;
      padding: 0 12px;
      border-bottom: 2px solid var(--background);

      .show-sidebar {
        display: none;
      }
    }

    main {
      height: calc(100% - #{$top-bar-height});
      overflow-y: auto;
    }
  }
}
