.modal {
  position: fixed;
  width: 33vw;
  min-width: 600px;
  background-color: var(--side-bar-color);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 48px -10px rgba(0, 0, 0, 0.4);
  animation: fly-in 0.4s forwards;

  &.closing {
    animation: fly-out 0.4s forwards;
  }

  h2 {
    height: $top-bar-height;
    line-height: $top-bar-height;
    padding: 0 12px;
  }

  .modal-content {
    padding: 12px;
  }

  @keyframes fly-in {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }
  @keyframes fly-out {
    0% {
      top: 0;
    }
    100% {
      top: -100%;
    }
  }
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  animation: fade-in 0.4s forwards;

  &.closing {
    animation: fade-out 0.4s forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
    }
  }
}
