button.setting-button {
  appearance: none;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96px;
  outline: none;

  i,
  span {
    color: var(--light-gray);
    transition: color $transition-duration;
  }

  i {
    font-size: 36px;
    margin-bottom: 12px;
  }

  span {
    font-size: 16px;
  }

  &:not([disabled]):hover {
    i,
    span {
      color: var(--foreground);
    }

    cursor: pointer;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}
